<div >
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false"  data-dojo-attach-point="_container">
        <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region: 'center'"  class="settings">
            <div data-dojo-attach-point="_storeNode1" class="settingsDiv">
                <label>${i18n.where}</label>
                <input data-dojo-attach-point="_selectNode1">
            </div>
            <div data-dojo-attach-point="_storeNode2" class="settingsDiv">
                <label>${i18n.what}</label>
                <input data-dojo-attach-point="_selectNode2">
            </div>
        </div>
        <div data-dojo-attach-point="_bottomNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
            <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_onCount">
                ${i18n.count}
            </button>
            <button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_onClear">
                ${i18n.clear}
            </button>
        </div>
    </div>
</div>